body{
    margin:0;
    font-family:'Times New Roman', Times, serif;
}

/* HEADER */

header{
    background-color: black;
    color: white;
}

.titulo{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 10vw;
}

.titulo > div > h1{
    width: 12vw;
    margin: 0 0 0 2vw;
    padding-bottom: 0.2vw;
    padding-left: 2vw;
    font-size: 2.5vw;
    border-left: 0.1vw solid yellow;
}

#subtitulo{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2vw;
    border-left: 0.1vw solid yellow;
    margin: 0 0 0 2vw;

}

#subtitulo h2{
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0.2vw 1vw;
    background-color: yellow;
    border-radius: 20px;
    font-size: 1.5vw;
}

.titulo > img{
    width:8vw;
    padding: 2vw;
    border-radius: 4vw;
}

/* MAIN */

main{
    background-color: rgb(160, 161, 162);
    font-size: 1.2vw;
}

nav{
    background-color:rgb(67, 64, 64);
    display: flex;
    align-items:center;
    justify-content: space-around;
    font-size: 2vw;
    width: 100%;
    height: 3vw;
    border-bottom: 0.2vw solid black;
    position: sticky;
    top:0
}

nav > a{
    text-decoration: none;
    color: black;
}

nav>a:hover{
    color: rgb(160, 161, 162);
    border-bottom: 2px solid rgba(255, 255, 0, 0.866);

}

.bio{
    padding: 1vw 4vw;
    margin: 0 15vw;
}

.bio > h2{
    width: 40%;
    padding-bottom: 1vw;
    border-bottom: 0.3vw dashed rgba(255, 255, 0, 0.866);
    font-size: 2vw;
    margin: 3vw 0 0 0;
}

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15vw;
    padding-bottom:2vw;
}

.cuerpo > img{
    width: 30%;
    padding-bottom: 2vw;
}

.texto{
    margin: 2vw 4vw;
    margin-bottom: 2vw;
}

.separador{
    margin: 0 10%;
    border-bottom: 0.2vw dashed black;
}

#ayuda{
    font-size: 2vw;
    margin: 2vw 0;
}

.cuerpo > h3{
    width: 13vw;
    font-size: 2vw;
    border-left: 0.3vw solid yellow;
    padding-left: 1vw;
}

.cuerpo > .ayuda{
    width: 30vw;
    padding:0 2vw;
}

.cuerpo > .img_ayuda{
    width: 20%;
    margin-top: 2vw;
}

/* FOOTER */

footer > nav{
    justify-content: center;
    border-top: 0.2vw solid black;
    border-bottom: 0;
    height: 6vw;
}

footer > nav > a{
    padding: 0.5vw 3vw 0;
}

footer > nav > a > img{
    width: 4vw;
}