*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

/* HEADER */

.logo{
    text-align: center;
}
.logo h1{
    font-size: 20vw;
    background-color: rgb(241, 238, 238);
    text-transform: uppercase;
    color: #3f075b;
    padding-top: 10vw;
    margin: 0;
}
.logo span{
    color: rgb(96, 96, 242);
}
.logo h2{
    font-size: 8vw;
    background-color: rgb(241, 238, 238);
    text-transform: uppercase;
    color: #3f075b;
    padding-bottom: 10vw;
    margin: 0;
}
.onda{
    width: 100%;
    rotate: 180deg;
}

/* NAV */

.container{
    position: sticky;
    top: 0;
    width: 100%;
    height: 20vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-bottom: 3px solid #e2e4e9;
    z-index: 5;
}
nav{
    display: flex;
}
.nav_item{
    font-size: 4vw;
    transition: 0.2s;
    width: 18vw;
}
.nav_item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #868fa2;
    text-decoration: none;
}
.nav_item i{
    padding-bottom: 5px;
}
.nav_item:hover{
    transform: scale(1.2);
}
.nav_item a:hover{
    color:#3f075b;
}
.space{
    margin: 0 7vw;
}
.bars_btn{
    display: flex;
    position: absolute;
    height: 15vw;
    width: 15vw;
    background: #3f075b;
    border-radius: 50%;
    top: 12vw;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    border: 5px solid #e2e4e9;
    color: #fff;
    cursor:pointer;
}
.bars_btn.active{
    width: 70vw;
    height: 10vw;
    top: 17vw;
    border-radius: 70px;
    border: 3px solid #e2e4e9;
    transition:0.5s;
    background-color: #8e27c1;
}
.x_btn{
    height: 10vw;
    width: 10vw;
    background: #3f075b;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #e2e4e9;
    color: #fff;
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-x{
    opacity: 0;
    font-size: 6vw;
    cursor: pointer;
}
.bars_btn.active .fa-bars{
    position: absolute;
    animation: hide 0.3s linear forwards;
}
@keyframes hide{
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.bars_btn.active .fa-x{
    animation: show 0.3s linear forwards;
}
.bars_btn.active .x_btn{
    animation: show 0.3s linear forwards;
}
.bars_btn.active .x_btn:hover{
    transform: scale(1.2);
}
@keyframes show{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.social_icons{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.social_icons a{
    position: relative;
    font-size: 5vw;
    margin: 1.5vw;
    transform: scale(0);
    color: #fff;
    pointer-events: all;
}

.social_icons a i{
    transition: 0.3s;
}
.social_icons a i:hover{
    transform: scale(1.2);
}
.active .social_icons a{
    animation: animate 0.6s linear forwards;
}
@keyframes animate{
    20%{
        opacity: 0;
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/* INICIO */

.bienvenida{
    width: 50%;
    padding: 1vw;
    font-size: 6vw;
    margin: auto;
    text-align: center;
    margin-top: 15vw;
    color: #3f075b;
    animation: color 4s linear infinite;
    border-radius: 50px;
    border: 0.2vw solid #3f075b;
}
@keyframes color{
    25%{
        color: #8e27c1;
        border: 0.2vw solid #8e27c1;
    }
    50%{
        color:#aa7ac3;
        border: 0.2vw solid #aa7ac3;
    }
    75%{
        color: #868fa2;
        border: 0.2vw solid #868fa2;
    }
}
.col1{
    margin: 10vw 7vw 7vw;
}
.topline{
    font-size: 6vw;
    color: #57585a;
}
.col1 h1{
    font-size: 10vw;
    color: #57585a;
    padding-bottom: 2vw;
}
.multiText{
    color: #3f075b;
}
.yo{
    width: 100%;
    margin: 0;
}
.mancha{
    position: absolute;
    top: 100vw;
    right: 30vw;
    width: 150vw;
    rotate: 120deg;
    z-index: -5;
    animation: animate_img 6s linear infinite;
}
@keyframes animate_img{
    50%{
        right: 40vw;
        bottom: 5vw;
        width: 145vw;
    }
}
.project{
    background-color: rgb(241, 238, 238);
    height: 150vw;
}
.project h2{
    padding:10vw;
    color: #57585a;
    font-size: 8vw;
    text-align: center;
    width: 80%;
    margin-left:10%;
    text-transform: uppercase;
}
.project h2 span{
    color: #3f075b;
}
#carouselExample{
    width: 80%;
    margin:auto;
}
#carouselExample .carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #3f075b;
}
.more{
    display: flex;
    justify-content: center;
}
.more a{
    margin: 5vw;
    padding: 2vw;
    width: 30%;
    border: 1vw solid #3f075b;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: #3f075b;
    cursor: pointer;
    font-size: 5vw;
}
.more a:hover{
    transform: scale(1.3);
    transition: 0.5s;
    border: 1vw solid #57585a;
    color: #57585a;
}

/* SOBRE MI */

.subtitulo{
    margin: 10vw 7vw 10vw 40vw;    
    text-align: right;
    font-size: 8vw;
    color: #57585a;
}
.bloque{
    display: flex;
    align-items: center;
    margin:7vw 7vw;
}
.texto{
    width: 60%;
    padding: 2vw;
    border-radius: 50px;
    border-bottom:2vw solid rgb(244, 224, 247);
    border-right:2vw solid rgb(244, 224, 247);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto h2{
    width: 90%;
    padding: 2vw;
}
#inverse{
    flex-direction: row-reverse;
}
#inverse .texto{
    border-left:2vw solid rgb(244, 224, 247);
    border-right:0;
}
.icon{
    color: #8e27c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.icon i{
    font-size: 15vw;
}
.item{
    position: absolute;
    animation: roll 8s ease infinite backwards;
    width: 30%;
    text-align: center;
    margin-top: 2vw;
    color: #3f075b;
}
.item:nth-child(1){
    animation-delay: 0s;
    opacity: 0;
}
.item:nth-child(2){
    animation-delay: 2s;
    opacity: 0;
}
.item:nth-child(3){
    animation-delay: 4s;
    opacity: 0;
}
.item:nth-child(4){
    animation-delay: 6s;
    opacity: 0;
}
.skills{
    display: flex;
    align-items: bottom;
    justify-content: center;
}
@keyframes roll{
    0%{
        opacity: 0;
        transform: translate3d(0,-70%,0);
    }
    2.5%,25%{
        opacity: 1;
        transform: translateZ(0);
    }
    27.5%,100%{
        opacity: 0;
        transform: translate3d(0,70%,0);
    }
}
.buttons{
    width: 100%;
    margin: 15vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.buttons a{
    text-decoration: none;
}
.button{
    color:#fff;
    background-color: #57585a;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.1);
    width: 40vw;
    padding: 2vw;
    text-align: center;
    box-shadow:0 5px 5px rgba(0,0,0,0.2);
    font-size: 6vw;
    margin: 3vw 0;
}
.button:hover{
    background-color: #868fa2;
}
.tarjeta{
    width: 80%;
    margin-left:10%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
    cursor: pointer;
}
.tarjeta .linea{
    width: 90%;
    padding: 3vw;
    text-align: center;
}
.container_p{
    width: 90%;
    position: absolute;
    text-align: center;
    opacity: 0;
    padding: 7vw;
}
.tarjeta:hover{
    background-color: #daa7f4;
    transition: 1s;
}
.tarjeta:hover .linea{
    animation: hide 0.3s linear forwards;
}
.tarjeta:hover .container_p{
    animation: show 0.5s linear forwards;
}

/* PROYECTOS */

.proyectos{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proy{
    box-shadow: 0 5vw 5vw rgba(0,0,0,0.1);
    padding: 5vw 0 0;
    margin: 10vw 0;
}
.proy h2{
    padding: 0 2vw 3vw;
    text-align: center;
}
.proy p{
    width: 85%;
    margin: auto;
    padding: 0 2vw 5vw;
    text-align: center;
}
.proy img{
    width: 100%;
}

/* CONTACTO */

.titulo{
    width: 52%;
    margin:10vw 24%;
    text-align: center;
    border-bottom: 0.5vw solid #8e27c1;
    color: #57585a;
}
.redes{
    background-color: #daa7f4;
    margin:auto;
    width: 40%;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.redes div{
    color: #3f075b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3vw;
}
.redes i{
    font-size: 10vw;
}
.redes h4{
    width: 90%;
    text-align: center;
}
.contacto{
    width: 80%;
    margin: 15vw 10% 8vw;
    color: #57585a;
    text-align: center;
}
.contacto span{
    color: #3f075b;
}
.divform{
    display: flex;
    justify-content: center;
}
form{
    background-color: #aa7ac3;
    width: 70%;
    border: 0.6vw solid rgba(91, 6, 122, 0.126);
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    border-radius: 6vw;
    margin-bottom: 10vw;
}
form h2{
    width: 80%;
    text-align: center;
    border-bottom:0.3vw solid #3f075b;
    margin: 5% 10%;
    font-size: 5vw;
}
form input,textarea{
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    text-align: left;
    margin-left: 15%;
    margin-top: 2.5vw;
    border: 0.1vw solid black;
    height: 3.5vw;
}
textarea{
    min-height: 6vw;
    max-height: 10vw;
    min-width: 70%;
    max-width: 70%;
}
#boton{
    width: 25%;
    height: 5vw;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 4vw;
    background-color: black;
    border-radius: 10vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 3.5vw;
}
#boton:hover{
    cursor: pointer;
    background-color: #57585a;
}

/* FOOTER */

footer{
    height: 20vw;
    background-color: #3f075b;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    position: relative;
    font-size: 7vw;
    margin: 1.5vw;
    color: #fff;
}

footer a i{
    transition: 0.3s;
}
footer a i:hover{
    transform: scale(1.2);
}
footer .logo{
    padding: 2vw 3vw;
    margin: 0 3vw;
    border-radius: 50px;
    background-color: rgb(241, 238, 238);
}
footer .logo h1{
    font-size: 5vw;
    padding: 0;
}
footer .logo h2{
    font-size: 3vw;
    padding: 0;
}
@media screen and (min-width:500px){
    /* HEADER */
    .logo h1{
        font-size: 7vw;
        padding-top: 1vw;
    }
    .logo h2{
        font-size: 3vw;
        padding-bottom: 3vw;
    }
    .onda{
        height: 8vw;
        rotate: 180deg;
    }
    /* NAV */
    .container{
        width: 60%;
        margin: auto;
        height: 5vw;
    }
    .nav_item{
        font-size: 1.3vw;
        width: 10vw;
    }
    .space{
        margin: 0 3vw;
    }
    .bars_btn{
        height: 5vw;
        width: 5vw;
        top: 3vw;
        font-size: 2vw;
    }
    .bars_btn.active{
        width: 32vw;
        height: 3vw;
        top: 4.5vw;
    }
    .x_btn{
        height: 5vw;
        width: 5vw;
    }
    .fa-x{
        font-size: 2vw;
    }
    .social_icons a{
        font-size: 2vw;
        margin: 1vw;
    }
    /* INICIO */
    .bienvenida{
        width: 30%;
        padding: 1vw;
        font-size: 2vw;
        margin: auto;
        text-align: center;
        margin-top: 7vw;
        color: #3f075b;
        animation: color 4s linear infinite;
        border-radius: 50px;
        border: 0.2vw solid #3f075b;
    }
    .parrafo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        margin: 10vw 0 0;
    }
    .col1{
        width: 50%;
        margin: 0 10vw;
        font-size: 1.5vw;
    }
    .topline{
        font-size: 2vw;
    }
    .col1 h1{
        font-size: 5vw;
        padding-bottom: 1vw;
    }
    .yo{
        width: 30vw;
    }
    .mancha{
        position: absolute;
        top: 38vw;
        right: 70vw;
        width: 50vw;
    }
    @keyframes animate_img{
        50%{
            right: 60vw;
            bottom: 5vw;
            width: 60vw;
        }
    }
    .project{
        height: 45vw;
    }
    .project h2{
        padding:5vw;
        font-size: 4vw;
    }
    #carouselExample{
        width: 20%;
        margin:auto;
    }
    .more a{
        margin: 2vw;
        padding: 0.5vw;
        width: 10%;
        border: 0.2vw solid #3f075b;
        font-size: 1.5vw;
    }
    .more a:hover{
        border: 0.2vw solid #57585a;
    }
    /* SOBRE MI */
    .subtitulo{
        margin: 10vw 0vw 5vw 50vw;    
        font-size: 3vw;
        width: 30%;
    }
    .bloque{
        display: flex;
        justify-content: center;
        margin:0 0 7vw;
    }
    .texto{
        width: 30%;
        padding: 1vw;
        border-bottom:0.5vw solid rgb(244, 224, 247);
        border-right:0.5vw solid rgb(244, 224, 247);
    }
    #inverse .texto{
        border-left:0.5vw solid rgb(244, 224, 247);
    }
    .icon{
        width: 20%;
    }
    .icon i{
        font-size: 8vw;
    }
    .item{
        width: 10%;
        margin-top: 0.5vw;
    }
    .buttons{
        margin: 7vw 0;
        flex-direction: row;
        justify-content: center;
    }
    .button{
        width: 13vw;
        padding: 1vw;
        font-size: 1.5vw;
        margin: 3vw 2vw;
    }
    .tarjeta{
        width: 50%;
        margin: auto;
        margin-bottom: 5vw;
    }
    .tarjeta .linea{
        width: 90%;
        padding: 1.5vw;
    }
    .container_p{
        width: 80%;
        padding: 0;
    }
    .container_p p{
        width: 60%;
        margin: auto;
    }
    /* PROYECTOS */
    .proyectos{
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }
    .proy{
        padding: 2vw 0 0;
        margin: 5vw 1vw;
        box-shadow: 0 1vw 1vw rgba(0,0,0,0.1);
    }
    .proy h2{
        padding: 0 1vw 1vw;
        height: 5vw;
        overflow: hidden;
    }
    .proy p{
        padding: 0 1vw 2vw;
        height: 5vw;
        overflow: hidden;
    }
    /* CONTACTO */
    .titulo{
        width: 30%;
        padding-bottom: 1vw;
        margin:10vw auto 5vw;
        border-bottom: 0.2vw solid #8e27c1;
        font-size:3vw;
    }
    .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }
    .redes div{
        padding:1.5vw;
    }
    .redes i{
        font-size: 3vw;
    }
    .redes h4{
        font-size: 1vw;
        width: 100%;
    }
    .contacto{
        font-size: 2vw;
        width: 20%;
        margin: 7vw auto 5vw;
    }
    form{
        width: 30%;
        border: 0.3vw solid rgba(91, 6, 122, 0.126);
        margin-bottom: 4vw;
    }
    form h2{
        width: 50%;
        margin: 5% auto;
        font-size: 2.5vw;
    }
    form input,textarea{
        width: 80%;
        padding: 0.5vw;
        font-size: 1vw;
        margin-left: 10%;
        margin-top: 1.5vw;
        height: 2vw;
    }
    textarea{
        min-width: 80%;
        max-width: 80%;
    }
    #boton{
        width: 25%;
        height: 3vw;
        margin-bottom: 2vw;
        margin-left: 37.5%;
        font-size: 1.5vw;
    }
    /* FOOTER */
    footer{
        height: 5vw;
    }
    footer a{
        font-size: 3vw;
        margin: 1vw;
    }
    footer .logo{
        padding: 0.3vw 1vw;
        margin: 0 1.5vw;
    }
    footer .logo h1{
        font-size: 2vw;
    }
    footer .logo h2{
        font-size: 1vw;
    }
}